* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-image: url(https://lumiere-a.akamaihd.net/v1/images/pp_xmen1992_herobanner_21369_2ead90c7.jpeg?region=0,0,2048,878);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	color: white;
	text-align: center;
	font-size: 2em;
}

nav {
	background-color: #333;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	flex: 1;
	text-align: center;
}

nav a {
	display: block;
	padding: 20px 0;
	color: white;
	text-decoration: none;
}

/*HOVER Y FOCUS AL NAV */
nav:hover{
	color: purple;
}

nav a:hover{
	background-color: grey;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

section h2 {
	text-align: center;
	margin-bottom: 20px;
}

section ul {
	display: flex;
	justify-content: space-around;
}

section li{

	margin: 0 10px;
	list-style-type: none;
}

/* SUSTITUIR EL PUNTO DE LA LISTA POR LA X */
section li:before {
	content: "✖️";
	padding-right: 5px;	
}

section a{	
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

/* AÑADIR CORCHETES A LOS ENLACES */
section a:before{
    content: '[';
}

section a:after{
    content: ']';
}

/* AÑADIR HOVER A LOS ENLACES */
section a:hover{
    color: red;
}

section a:visited:hover{
    color: red;
}

a:visited{
    color: purple;
}

/* AÑADIR FOCUS A LOS ENLACES */
a:focus{
    color: purple;
    border: 5px solid;
    border-color: purple;
}

footer {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}