.container{
    height: 300px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    row-gap: 100px;
    padding: 10px;        
}


.hijo{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    color: whitesmoke;    
}